// Color variables
$primary: #0a2458;
$light:#e0e5ef;
$medium: #0969be;
$secondary: #24126A;
$white: #FFF;
$accent: #9c1919;
$lightAccent: #fffbec;
$transparant: rgb(0,0,0,0);
$gold: #876450;

// Spacing
$spacer: 1rem;

// Width
$maxWidth: 82.5rem;

// Fonts
$fontSerif: 'EB Garamond';
$fontSansSerif: 'Signika';