p,
a,
h1,
h2,
h3,
h5,
.title {
    font-family: 'EB Garamond';
    font-size: 1.2rem;
    color: $primary;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 3rem;
}