.hero-container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    max-width: 118.75rem;
    overflow: hidden;
    position: relative;

    .hero-image {
        border-radius: 1rem 1rem 0 1rem;
        width: 100%;
    }
    
    
    .hero-block {
        padding: 3rem 3rem 1.25rem 6rem; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 1rem;
        bottom: 0;
        width: 33.75rem;
        height: 27rem;
        background-color: $white;
        border-top-left-radius: 1rem;
        overflow: hidden;   
        line-height: 1;
        
        .hero-tagline {
            padding: 1rem 1.25rem;
            position: absolute;
            top: 0;
            left: 3rem;
            z-index: 25;
            transform: rotate(90deg);
            transform-origin: 0 0;
            color: $primary;
            font-family: 'Signika', sans-serif!important;
            text-transform: uppercase;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: #edbe87;
            width: 3rem;
            height: 100%;
            top: 0;
            left: 0;
            right: auto;
        }

        h2 {
            padding-bottom: 1rem;
            margin-bottom: 2rem;
            font-size: 3rem;
            font-weight: 900;
            line-height: 1;
            border-bottom: .01rem solid #e0e5ef;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 1rem;
                
                a {
                    display: block;
                    padding: .25rem 0 .25rem 1rem ;
                    border-left: .2rem solid $accent;
                    font-family: 'Signika', sans-serif!important;
                    text-decoration: none;

                    &:hover {
                        border-color: #edbe87;
                    }
                }
            }
        }
    }
}