.recent-posts {
    width: 100%;
    display: flex;

    .post-spotlight {
        width: 30%;

        .post {
            strong {
                
                a {
                    font-size: 2rem;
                }
            }

            .post-info {
                width: 100%;
                display: flex;
            }
            span {
            
              ul{
                    width: 100%;
                    list-style-type: disc;
                    border: none;
                }
    
                
            }
        }
    }
    
    ul {
        width: 30%;
        border-left: solid .1rem $light;
        list-style: none;

        li.post {
            display: flex;
            flex-direction: column;

            .post-info {
                width: 100%;
                display: flex;
            }
            span {
            
              ul{
                    width: 100%;
                    list-style-type: disc;
                    border: none;
                }
    
                
            }
        }
    }

    a {
        text-decoration: none    ;
    }
}