.briefing-room {
    margin: 5rem auto;
    width: $maxWidth;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    .briefing-room-inner {
        max-width: 40rem;
        padding: 0 2rem;
    }
}