.page {
    
    .page-header {
        max-width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .page-link {
            font-family: $fontSansSerif;
            text-decoration: none;
            color: $medium;
        }

        .title {
            margin-bottom: 0;
        }
    }

    .page-content {
        margin: 5rem auto;
        max-width: 40%;

        .page-intro {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.2;
            text-align: center;
        }

        h2 {
            color: $primary;
            font-weight: 800;
            margin-bottom: 1.5rem;
        }

        strong {
            text-transform: uppercase;
        }

        p {
            strong {
                text-transform: none;
            }
        }

    }
}

.wp-block-separator {
    margin: 2.5rem auto;
    width: 10rem;
    text-align: center;
}